/* цвет основного текста - color: #212121;

цвет вторичного текста - color: #757575;

цвет основного фона - background: #FFFFFF;

цвет акцента - background: #2196F3;
цвет акцента - color: #2196F3; */
:root {
  --main-bg-color: #ffffff;
  --main-color: #212121;
  --accent-color: #2196f3;
  --white-text: #ffffff;
  --gray-text: #757575;
}
body {
  background: var(--main-bg-color);
  color: var(--main-color);
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

/* логотип */
.logo-header {
  color: #000000;
  text-decoration: none;
}

/* навигация по сайту */
.link {
  color: var(--main-color);
  text-decoration: none;
}
.logo-in,
.navigation .link:hover,
.navigation .link:focus,
.contact .link-contact:hover,
.contact .link-contact:focus {
  color: var(--accent-color);
}

/* контактная информация хедер*/
.link-contact {
  color: var(--gray-text);
  text-decoration: none;
}

/* hero */
.hero {
  background: #2f303a;
}
.hero-h {
  color: var(--white-text);
}
.hero-button {
  background: #2196f3;
  color: var(--white-text);
}

/* характеристика команды */
.comandspecifications-text {
  color: var(--gray-text);
}

/* наша команда */
.ourcomand {
  background: #f5f4fa;
}
.ourcomand-h {
  background: var(--main-bg-color);
}
.ourcomand-text {
  background: var(--main-bg-color);
  color: var(--gray-text);
}

/* footer */
.footer {
  background: #2f303a;
}
.logo-footer {
  color: var(--white-text);
  text-decoration: none;
}
.address {
  color: var(--white-text);
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Portfolio */

/* filters */
.filters {
  background: #f5f4fa;
}
.filters:hover,
.filters:focus {
  background: var(--accent-color);
  color: var(--white-text);
  cursor: pointer;
}

/* Примеры работ */
.examples {
  text-decoration: none;
}
.examples-text {
  color: var(--main-color);
}
