/* цвет основного текста - color: #212121;

цвет вторичного текста - color: #757575;

цвет основного фона - background: #FFFFFF;

цвет акцента - background: #2196F3;
цвет акцента - color: #2196F3; */

body {
  background: #ffffff;
  color: #212121;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  color: #212121;
}

/* логотип */
.logo-header {
  color: #000000;
  text-decoration: none;
}
.logo-in {
  color: #2196f3;
}

/* навигация по сайту */
.link {
  color: #212121;
  text-decoration: none;
}
.navigation .link:hover,
.navigation .link:focus {
  color: #2196f3;
}

/* контактная информация хедер*/
.link-contact {
  color: #757575;
  text-decoration: none;
}
.contact .link-contact:hover,
.contact .link-contact:focus {
  color: #2196f3;
}

/* hero */
.hero {
  background: #2f303a;
}
.hero-h {
  color: #ffffff;
}
.hero-button {
  background: #2196f3;
  color: #ffffff;
}

/* характеристика команды */
.comandspecifications-text {
  color: #757575;
}

/* наша команда */
.ourcomand {
  background: #f5f4fa;
}
.ourcomand-h {
  background: #ffffff;
}
.ourcomand-text {
  background: #ffffff;
  color: #757575;
}

/* footer */
.footer {
  background: #2f303a;
}
.logo-footer {
  color: #ffffff;
  text-decoration: none;
}
.address {
  color: #ffffff;
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
